doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css", integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N", crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js", integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+", crossorigin="anonymous")
    script(src="https://kit.fontawesome.com/048208056e.js" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div
      nav(class="d-flex justify-content-between align-items-center px-4")
        div(class="d-flex")
          a(href="/" class="home-link")
            h2(class="font-weight-bold") Members Only
            img(class="ml-2 logo" src="/images/logo.png" alt="logo")
        ul(class="d-flex align-items-center nav-links")
          if user === undefined
            a(href="/login" class="account-link login") Login
              i(class="fa-solid fa-right-from-bracket")
            a(href="/sign-up" class="account-link sign-up") Sign Up
              i(class="fa-solid fa-user-plus")

          else
            a(href="#" class="action-link create-message")
              i(class="fa-solid fa-plus" title="Create a message")
            //- ONLY DISPLAY THIS LINK IF THE USER IS ===NOT=== A MEMBER
            if user.account_status === "none"
              a(href="/upgrade-account/member" class="action-link become-member")
                i(class="fa-solid fa-crown" title="Become a member")
            //- ONLY DISPLAY THIS LINK IF THE USER IS A MEMBER AND ===NOT=== AN ADMIN
            if user.account_status === "member"
              a(href="/upgrade-account/admin" class="action-link become-admin")
                i(class="fa-solid fa-user-secret" title="Become an admin")
            div(class="d-flex align-items-center position-relative profile-container")
              p #{user.display_name}
              div(class="profile" style=(user.profile_picture === undefined ? 'background: url(/images/default-profile-picture.jpg) no-repeat center' : 'background: url(' + user.profile_picture_url + ') no-repeat center'))
                //- img(src=(user.profile_picture === undefined ? '/images/default-profile-picture.jpg' : user.profile_picture_url) alt="user profile picture")
              a(href="#" class="account-link sign-out") Sort me out
                i(class="fa-solid fa-right-from-bracket")

      div(class="px-3")
        block content
