extends layout

block content
  div(class="d-flex flex-column align-items-center mx-auto px-4 py-3 login-container")
    if user
      h1 You are already logged in!
    
    else
      h1(class="form-title")= title
      form(class="d-flex flex-column" action="" method="POST")
        label(for="username") Username
        input(id="username" name="username" required="true" type="text" autofocus)

        label(class="mt-2" for="password") Password
        input(id="password" name="password" required="true" type="password")

        button(class="my-3 login-btn" type="submit") Login

      p Don't have an account? Sign up
        a(class="ml-1" href="/sign-up") here
      
      p Just want to view the messages? Click
        a(class="ml-1" href="/") here
      