extends layout

block content
  h1 #{title}
  //- ul
  //-   each message, index in message_list
  //-     li buh

  //-   else
  //-     p Looks like there aren't any messages here... yet
  //-     p SOME IMG