extends layout

block content
  div(class="d-flex flex-column align-items-center mx-auto px-4 py-3 sign-up-container")
    if user
      h1 You are already logged in!
    
    else
      h1(class="form-title")= title
      form(class="d-flex flex-column" action="" method="POST" enctype="multipart/form-data")
        label(for="email") Email*
        input(id="email" name="email" value=(user === undefined ? '' : user.email) required="true" type="email" autofocus)

        label(class="mt-2" for="display_name") Display Name*
        input(id="display_name" name="display_name" value=(user === undefined ? '' : user.display_name) required="true" type="text")

        label(class="mt-2" for="password") Password*
        input(id="password" name="password" required="true" type="password")

        label(class="mt-2" for="profile_picture") Profile Picture
        input(id="profile_picture" name="profile_picture" type="file")

        button(class="my-3 sign-up-btn" type="submit") Sign Up

      p Already have an account? Login
        a(class="ml-1" href="/login") here

      p Just want to view the messages? Click
        a(class="ml-1" href="/") here

      if errors
        ul
          for error in errors
            li!= error.msg