@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Bricolage Grotesque", Helvetica, Arial, sans-serif;
}

nav {
  box-shadow: 0 0 15px rgb(120, 120, 120);
  min-height: 80px;
}

nav h2,
.nav-links {
  margin: 0;
}

.logo {
  height: 35px;
}

.nav-links {
  gap: 1rem;
}

.nav-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  text-decoration: none;
}

a.action-link {
  min-height: 50px;
  width: 50px;
  border-radius: 50px;
  transition: 0.3s ease;
  font-size: 1.1rem;
}

a.action-link:hover {
  color: white;
}

a.action-link:active {
  scale: 0.98;
}

a.action-link > i {
  transition: 0.3s ease;
}

a.action-link:hover > i {
  transform: scale(1.2);
}

.create-message {
  background: rgb(94, 228, 125);
  color: white;
}

.become-member {
  background: gold;
  color: white;
}

a.account-link {
  border-radius: 10px;
  padding: 0.4rem 0.75rem;
}

a.login {
  background: rgb(82, 94, 181);
  border: 2px solid rgb(82, 94, 181);
  color: white;
}

a.login:hover {
  background: rgb(99, 111, 199);
  border-color: rgb(99, 111, 199);
}

a.sign-up,
a.sign-out {
  color: #121212;
  border: 2px solid #121212;
}

a.sign-up:hover,
a.sign-out:hover {
  background: #eaebea;
}

.sign-out {
  width: max-content;
  background: white;
  position: absolute;
  bottom: -72.5%;
  right: 0;
  pointer-events: none;
  opacity: 0;
  transition: 0.3s ease;
}

.profile-container:hover .sign-out {
  pointer-events: auto;
  opacity: 1;
}

.profile {
  min-height: 60px;
  width: 60px;
  border: 2px solid rgb(82, 94, 181);
  border-radius: 50px;
  cursor: pointer;
}