@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Bricolage Grotesque", Helvetica, Arial, sans-serif;
  background: #f6f6f6;
}

nav {
  box-shadow: 0 0 15px rgb(155, 155, 155);
  min-height: 80px;
  background: white;
}

nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  text-decoration: none;
}

nav a:hover {
  text-decoration: none;
}

nav h2,
.nav-links {
  margin: 0;
}

.home-link {
  color: black;
}

.home-link:hover {
  color: black;
}

.logo {
  height: 35px;
}

.nav-links {
  gap: 1rem;
}

a.action-link {
  min-height: 50px;
  width: 50px;
  border-radius: 50px;
  transition: 0.3s ease;
  font-size: 1.1rem;
}

a.action-link:hover {
  color: white;
}

a.action-link:active {
  scale: 0.98;
}

a.action-link > i {
  transition: 0.3s ease;
}

a.action-link:hover > i {
  transform: scale(1.2);
}

.create-message {
  background: rgb(94, 228, 125);
  color: white;
}

.become-member {
  background: gold;
  color: white;
}

.become-admin {
  background: rgb(226, 13, 116);
  color: white;
}

a.account-link {
  border-radius: 10px;
  padding: 0.4rem 0.75rem;
}

a.login {
  background: rgb(82, 94, 181);
  border: 2px solid rgb(82, 94, 181);
  color: white;
}

a.login:hover {
  background: rgb(99, 111, 199);
  border-color: rgb(99, 111, 199);
}

a.sign-up,
a.sign-out {
  color: #121212;
  border: 2px solid #121212;
}

a.sign-up:hover,
a.sign-out:hover {
  background: #eaebea;
}

.sign-out {
  width: max-content;
  background: white;
  position: absolute;
  bottom: -72.5%;
  right: 0;
  pointer-events: none;
  opacity: 0;
  transition: 0.3s ease;
}

.profile-container:hover .sign-out {
  pointer-events: auto;
  opacity: 1;
}

.profile {
  min-height: 60px;
  width: 60px;
  border: 2px solid rgb(82, 94, 181);
  border-radius: 50px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
}

form {
  width: 100%;
}

form input {
  outline: none;
  border: 1px solid #121212;
  border-radius: 6px;
  padding: 0.3rem 0.7rem;
  font-size: 1.1rem;
  transition: 0.3s ease;
}

form input:focus {
  background: rgb(215, 217, 230);
  box-shadow: 0 2px 5px grey;
}

.form-title {
  text-decoration: underline;
}

.login-container,
.sign-up-container {
  max-width: 400px;
  box-shadow: 0 4px 15px rgb(177, 177, 177);
  border-radius: 10px;
  background: white;
  margin-top: 3rem;
}

.login-btn,
.sign-up-btn {
  width: max-content;
  margin: 0 auto;
  border-radius: 10px;
  padding: 0.4rem 0.9rem;
  font-size: 1.1rem;
  background: rgb(82, 94, 181);
  color: white;
  border: 2px solid rgb(82, 94, 181);
}

.login-btn:hover,
.sign-up-btn:hover {
  background: rgb(99, 111, 199);
}