@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Bricolage Grotesque", Helvetica, Arial, sans-serif;
  background: #f6f6f6;
}

h1 {
  text-align: center;
}

button {
  outline: none;
}

nav {
  box-shadow: 0 0 15px rgb(155, 155, 155);
  height: 80px;
  background: white;
  position: sticky;
  top: 0;
  z-index: 2;
}

.app-title {
  position: relative;
  z-index: 0;
}

.app-title::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 4px;
  width: 0;
  background: gold;
  z-index: -1;
  transition: 0.4s ease;
}

.app-title:hover::after {
  width: 100%;
}

.return-btn {
  display: none;
  transform: scaleX(-1);
  transition: 0.3s ease;
}

.return-btn:hover {
  color: gold;
}

nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  text-decoration: none;
}

nav a:hover {
  text-decoration: none;
}

nav h2,
.nav-links,
p {
  margin: 0;
}

.home-link {
  color: black;
}

.home-link:hover {
  color: black;
}

.logo {
  height: 35px;
}

.nav-links {
  gap: 1rem;
}

a.action-link {
  min-height: 50px;
  width: 50px;
  border-radius: 50px;
  transition: 0.3s ease;
  font-size: 1.1rem;
}

a.action-link:hover {
  color: white;
}

a.action-link:active {
  scale: 0.98;
}

a.action-link > i {
  transition: 0.3s ease;
}

a.action-link:hover > i {
  transform: scale(1.2);
}

.create-message {
  background: rgb(70, 214, 104);
  color: white;
}

.become-member {
  background: gold;
  color: white;
}

.become-admin {
  background: rgb(226, 13, 116);
  color: white;
}

a.account-link {
  border-radius: 10px;
  padding: 0.4rem 0.75rem;
}

a.login {
  background: rgb(82, 94, 181);
  border: 2px solid rgb(82, 94, 181);
  color: white;
}

a.login:hover {
  background: rgb(99, 111, 199);
  border-color: rgb(99, 111, 199);
}

a.sign-up,
a.logout {
  color: #121212;
  border: 2px solid #121212;
}

a.sign-up:hover,
a.logout:hover {
  background: #eaebea;
}

.profile-container {
  gap: 0.65rem;
}

.username {
  font-size: 1.25rem;
  color: white;
  padding: 0.2rem 0.8rem;
  border-radius: 10px;
}

.username.none {
  background: #3b4f7e;
}

.username.member {
  background: gold;
}

.username.admin {
  background: rgb(226, 13, 116);
}

.username.large {
  font-size: 1.8rem;
}

.username.hide {
  color: #232323;
  background: #232323;
  pointer-events: none;
}

.username.hide::selection {
  color: #232323;
}

.logout {
  min-height: 42.5px;
  width: max-content;
  background: white;
  transition: 0.3s ease;
}

.profile-picture {
  border-radius: 50%;
}

.profile-picture.none {
  border: 2px solid #3b4f7e;
}

.profile-picture.member {
  border: 2px solid gold;
}

.profile-picture.admin {
  border: 2px solid rgb(226, 13, 116);
}

.avatar {
  min-height: 60px;
  width: 60px;
  cursor: pointer;
}

form {
  width: 100%;
}

form input,
textarea {
  outline: none;
  border: 1px solid #121212;
  border-radius: 6px;
  padding: 0.3rem 0.7rem;
  font-size: 1.1rem;
  transition: 0.3s ease;
}

form input:focus,
textarea:focus {
  background: rgb(215, 217, 230);
  box-shadow: 0 2px 5px grey;
}

form label {
  font-size: 1.2rem;
}

.form-title {
  text-decoration: underline;
}

.login-container,
.sign-up-container,
.message-create-container,
.message-delete-container,
.become-member-container,
.become-admin-container {
  box-shadow: 0 4px 15px rgb(177, 177, 177);
  border-radius: 10px;
  background: white;
  margin-top: 3rem;
}

.message-create-container,
.become-member-container,
.become-admin-container {
  max-width: 500px;
}

.message-delete-container {
  max-width: 600px;
}

.login-container,
.sign-up-container {
  max-width: 400px;
}

.login-btn,
.sign-up-btn,
.create-message-btn {
  width: max-content;
  margin: 0 auto;
  border-radius: 10px;
  padding: 0.4rem 0.9rem;
  font-size: 1.1rem;
}

.login-btn,
.sign-up-btn {
  color: white;
  background: rgb(82, 94, 181);
  border: 2px solid rgb(82, 94, 181);
}

.login-btn:hover,
.sign-up-btn:hover {
  background: rgb(99, 111, 199);
}

.create-message-btn {
  color: white;
  background: rgb(70, 214, 104);
  border: 2px solid rgb(70, 214, 104);
}

.create-message-btn:hover {
  background: rgb(93, 215, 122);
}

.message-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-auto-rows: max-content;
  gap: 1.2rem;
}

.message-card {
  background: white;
  box-shadow: 0 8px 20px #a0a0a0;
  border-radius: 10px;
}

.cascade-fade-in {
  opacity: 0;
  transform: translateX(10px);
  animation: cascadeFadeIn 0.5s ease forwards;
  animation-delay: calc(0.15s * var(--delay));
}

@keyframes cascadeFadeIn {
  from {
    opacity: 0;
    transform: translateX(10px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.user-link,
.user-link:hover {
  text-decoration: none;
}

.message-profile {
  min-height: 110px;
  width: 110px;
}

.message-details {
  gap: 0.5rem;
}

.message-date {
  color: #121212;
  border-radius: 10px;
}

.message-date.hide {
  color: #232323;
  background: #232323;
  pointer-events: none;
}

.message-date.hide::selection {
  color: #232323;
}

.delete-message {
  width: max-content;
  background: crimson;
  color: white;
  border-radius: 10px;
  padding: 0.35rem 0.65rem;
  outline: none;
  border: 2px solid crimson;
}

.delete-message:hover {
  background: rgb(216, 43, 78);
  color: white;
  text-decoration: none;
}

.user-detail {
  height: calc(100vh - 150px);
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.user-info {
  width: max-content;
  gap: 1rem;
  margin: auto;
  background: white;
  border-radius: 10px;
  box-shadow: 0 8px 20px #a0a0a0;
}

.selected-user-profile {
  height: 250px;
  width: 250px;
}

.selected-user-message-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-auto-rows: max-content;
  gap: 1.2rem;
  overflow-y: auto;
}

@media(max-width: 880px) {
  .user-detail,
  .selected-user-message-list {
    display: flex;
    flex-direction: column;
  }

  .user-detail {
    height: auto;
  }

  .selected-user-profile {
    height: 180px;
    width: 180px;
  }

  .selected-user-message-list {
    overflow: visible;
  }
}

@media(max-width: 650px) {
  .app-title {
    display: none;
  }

  .return-btn {
    display: block;
  }

  .nav-links {
    gap: 0.45rem;
  }

  .profile-container > .username {
    position: absolute;
    bottom: -72.5%;
    left: -25%;
    opacity: 0;
    transition: 0.3s ease;
  }

  .profile-container:hover > .username {
    opacity: 1;
  }
}